@charset "utf-8";

.header {
    position: fixed;
    top: 0;
    margin-left: 250px;
    padding: 10px 20px;
    width: calc(100% - 250px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2239;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}
