@charset "utf-8";

.sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh; //修正あり
    padding: 10px 10px 100px 10px;
    background-color: $palette-black;
    color: $palette-white;
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-size: 125%;
        li {
            padding: 10px 30px 10px 30px;
            svg {
                padding-right: 10px;
            }
        }
    }
    .select-menu1 {
        padding-bottom: 30px;
    }
    .select-menu2 {
        padding-bottom: 15px;
        border-bottom: solid 1px $palette-white;
    }
    .playlist {
        padding-top: 15px;
    }
}
